@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
/* --------------------------------------------------- *\
  RESET
\* --------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
*:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
del {
  color: #333;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
small {
  font-size: smaller;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* --------------------------------------------------- *\
  SHARED
\* --------------------------------------------------- */
.dk-bg {
  background: transparent url("../images/dk-bg.png") repeat;
}
html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: #000000;
}
body {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 300;
  color: #5b5d58;
  font-size: 0.875em;
  line-height: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center;
  margin: .5em 0;
}
strong {
  font-weight: 700;
}
a {
  color: #7079ce;
}
a img {
  border: 0;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #9aa5e8;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  display: block;
  clear: both;
}
p {
  margin: 1.5em 0;
}
div.para {
  display: block;
  margin: 1.5em 0;
  font-size: 1.5em;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
select,
textarea {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
::selection {
  background: #9aa5e8;
  color: #ffffff;
  text-shadow: none;
}
::-moz-selection {
  background: #9aa5e8;
  color: #ffffff;
  text-shadow: none;
}
.phone-link {
  text-decoration: none !important;
  color: inherit;
  cursor: default !important;
}
.phone-link:hover {
  color: inherit !important;
}
/* --------------------------------------------------- *\
  PHONE
\* --------------------------------------------------- */
header {
  background: transparent url("../images/dk-bg.png") repeat;
  padding: .5em;
}
header .left-header {
  float: left;
}
header .left-header .header-logo {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  width: 3em;
  margin: 0 .5em 0 0;
  height: auto;
}
header .left-header .nav-btn {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
header .left-header .nav-btn .menu-icon {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  width: 1.5em;
  margin: 0 .5em 0 0;
}
header .left-header .nav-btn .menu-icon div {
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  background: #7079ce;
}
header .left-header .nav-btn .menu-title {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  font-size: 1.2em;
  line-height: 1em;
  text-transform: uppercase;
  color: #7079ce;
}
header .right-header {
  float: right;
  padding: .3em 0;
}
header .right-header .header-contact {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
header .right-header .header-contact a {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
header .right-header .email-section {
  width: 2.5em;
  margin: 0 .5em;
}
header .right-header .phone-section {
  width: 1.8em;
}
footer {
  display: none;
}
/* --------------------------------------------------- *\
  CROSSBROWSING
\* --------------------------------------------------- */
/* --------------------------------------------------- *\
  MINI-TABLET
\* --------------------------------------------------- */
/* --------------------------------------------------- *\
  TABLET
\* --------------------------------------------------- */
/* --------------------------------------------------- *\
  FULL
\* --------------------------------------------------- */
/* --------------------------------------------------- *\
  CROSSBROWSING
\* --------------------------------------------------- */
